.headering {
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: -45px;
    text-shadow: none;
    font-weight: 700;
}

.pane-sliders .panel {
    border: none !important;
}

div.panel>h3 {
    height: 30px !important;
    padding: 0 !important;
    border: 1px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: transparent !important;
    position: relative;
}

div.panel>h3::before {
    content: 'Настройки "Школьного меню"';
    color: #fff;
    text-shadow: 0 0 3px #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bold 16px/30px Arial, Helvetica, sans-serif;
}

div.panel h3.pane-toggler-down,
#basic-options-options {
    background: url(../images/bg-1.jpg) !important;
}

.pane-toggler-down span,
.pane-toggler span {
    display: none !important;
}

.pane-sliders .content {
    margin: 4px auto;
    width: 99%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.panel fieldset.panelform>ul>li>label {
    color: #444;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    float: none;
    text-align: center;
    font-size: 14px;
    min-width: auto !important;
    max-width: none !important;
    width: auto !important;
}

.panel fieldset.panelform>ul>li fieldset {
    line-height: 28px;
}

fieldset.panelform input {
    position: relative;
    height: 16px;
    color: #555;
    line-height: 16px;
    padding: 4px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 12px !important;
}

fieldset.panelform select {
    height: 26px;
    color: #555;
    line-height: 24px;
    padding: 4px;
    font-size: 11px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

fieldset.panelform select[multiple=multiple] {
    height: auto !important
}

.fltrt ul.adminformlist li {
    overflow: hidden;
    padding: 1px 10px;
    margin: 0;
    position: relative !important;
}

div .panel input[type=radio] {
    margin-top: 12px !important
}

div.panel li {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label {
    width: auto !important;
    min-width: auto !important;
    font-size: 12px !important;
}

ul.adminformlist li:nth-child(n-2) {
    border-bottom: 1px solid #eee;
}

fieldset.panelform ul.adminformlist li:nth-child(1) {
    border: none !important;
}


/* FROM ASSETS */

.module-body {
    position: relative;
    width: 265px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 30px;
    align-items: center;
    border: 1px dashed #000;
    padding: 20px;
    margin-top: 60px;
}

.wday-div,
.date-div {
    position: relative;
    pointer-events: none;
    user-select: none;
    display: block !important;
    font-weight: 700;
    white-space: nowrap !important;
}

.wday-div {
    width: 38.18%;
    margin: 0 3.5%;
}

.link-menu,
.inactive-svg {
    display: block;
    width: 30px;
    height: 30px;
    z-index: 5;
}

.inactive-svg {
    cursor: not-allowed;
}

.link-menu:hover {
    color: rgba(0, 0, 0, 0.5) !important;
    background: none !important;
    transition: .5s all;
}

.li-menu {
    padding: 0 !important;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.kid-menu,
.middle-menu {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.bg-kid,
.bg-middle {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.middle-menu {
    display: none;
    margin-top: 10px !important;
}

.bg-kid {
    background-position: top !important;
}

.bg-middle {
    background-position: bottom !important;
}

.menu-icon {
    display: flex !important;
    margin: 0 3.5%;
    width: 12%;
}

.menu-title {
    user-select: none;
    pointer-events: none;
    position: relative;
    text-align: center;
    font-weight: 700;
    margin: 5px 0;
}


/* INLINE STYLES */


/* .module_content {
    text-shadow: 0 0 6px #000;
}

.svg-icon {
    filter: drop-shadow(0 0 6px #000) !important;
}

.kid-menu,
.middle-menu {
    box-shadow: 0 0 6px #000;
}

.middle-menu {
    display: block !important;
}

.kid-menu::before,
.middle-menu::before {
    background-image: url('http://localhost//modules/mod_schoolmenu/assets/images/bg-3.jpg') !important;
    background-color: #000000 !important;
    filter: brightness(.8) blur(2px);
}

.menu-title {
    display: block !important
}

.wday-div,
.date-div {
    font-size: 100%
}

.kid-menu,
.middle-menu {
    color: #ffffff !important;
}

.svg-icon,
.svg-icon:hover,
.svg-icon:visited {
    color: #ffffff !important;
    background: transparent !important;
} */